{% block content %}
  <div class="content-chartjs">

    {% if headline %}
      <{{ hl }} class="faq-title">{{ headline }}</{{ hl }}>            
    {% endif %}

    <div class="chartjs">
      <canvas id="myChart" class="twig"></canvas>
    </div>
    
  </div>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: '{{ type|raw }}',
    options: {{ options|raw }},
    data: {
       labels: {{ labels|raw }},
       datasets: {{ datasets|raw }}
    }    
  });
</script>
{% endblock %}
