{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}
  {% if as_editor_view %}
    {% block editor_view %}<p>ChartJS - {{ chartType }}</p>{% endblock %}
  {% else %}
    <canvas id="{{ chartId }}"></canvas>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        new Chart(document.getElementById('{{ chartId }}'), {
          type: '{{ chartType|raw }}',
          options: {{ options|raw }},
          data: {
            labels: {{ labels|raw }},
            datasets: {{ datasets|raw }}
          }
        });
      });
    </script>
  {% endif %}
{% endblock %}